:root{
    --background-color: #F8F8F8;
    --red: #750707;
    --blac: #000;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Header{
    display: flex;
    background-color: var(--background-color);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
        
}

.header__logo img{
    display: flex;
    margin: 2px 0 0 50px;
    height: 90px;
    width: 70px;

}

.header__navBar{
    position: relative;
    display: flex;
    right: -60rem;
    align-items: center;
    

}

.header__navBar a{
    margin-left: 15px;
    float: left;
    text-decoration: none;
    color:black;
    padding: 3px;
}

.header__navBar a:hover{
    color: var(--red) ;
    border: 1px var(--red) solid;
}


@media only screen and (max-width:600px){
    .header__logo img{
        display: flex;
        margin: 2px 0 0 7px;
        height: 75px;
        width: 60px;
    
    } 

    .header__navBar a{
        margin-left: 12px;
        float: left;
        text-decoration: none;
        color:black;
    }

    .header__navBar{
        position: relative;
        display: flex;
        right: 0rem;
        align-items: center;
    }

}

@media only screen and (min-width:768px){
    .header__logo img{
        display: flex;
        margin: 2px 0 0 20px;
        height: 90px;
        width: 70px;
    
    } 

    .header__navBar a{
        margin-left: 12px;
        float: left;
        text-decoration: none;
        color:black;
    }

    .header__navBar{
        position: relative;
        display: flex;
        right: -22rem;
        align-items: center;
    }

}

@media only screen and (min-width:1200px){
    .header__navBar{
        position: relative;
        display: flex;
        right: -64rem;
        align-items: center;
    }

}